[Desktop Entry]
Type=Application
Name=@name@
Comment=@description@
Icon=/opt/@organization.name@/@artifactId@/bin/@artifactId@.png
Exec=/opt/@organization.name@/@artifactId@/bin/@artifactId@ > ~/.@artifactId@/logs/console.log 2> ~/.@artifactId@/logs/error.log
Terminal=false
Categories=Development;
X-Desktop-File-Install-Version=0.20
