<?xml version="1.0" encoding="UTF-8" ?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ **** BEGIN LICENSE BLOCK *****
  ~
  ~ Version: MPL 2.0
  ~
  ~ echocat Velma, Copyright (c) 2011-2012 echocat
  ~
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  ~
  ~ **** END LICENSE BLOCK *****
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %m (at %C.%M(%F:%L))%n" />
        </layout>
    </appender>

    <logger name="org.eclipse.jetty.server" additivity="false">
        <level value="WARN" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <root>
        <priority value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration>
